html,
body {
  padding: 0;
  margin: 0;
  font-family: "Apercu" !important;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-tap-highlight-color: transparent; /* Fix for blue background highlight on mobile screens*/

  /* Variables  */
  --primaryColor: #0000ff;
  --secondaryColor: #737373;
  --primaryBackground: #f3f6f9;
  --borderColor: #cdcdcd;
  --secondaryBorderColor: #666666;
  --whiteColor: #fff;
  --blackColor: #000;
  --errorColor: #990000;
}

body {
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row-align-center {
  display: flex;
  align-items: center;
}

.row-align-flex-start {
  display: flex;
  align-items: flex-start;
}

.row-align-flex-end {
  display: flex;
  align-items: flex-end;
}

.row-justify-center {
  display: flex;
  justify-content: center;
}

.row-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-center-space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row-center-space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.row-flex-end-both {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.row-flex-start-both {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.row-center-both {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-align-flex-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-align-flex-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-center-space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.column-center-space-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.column-center-space-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.column-flex-end-both {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.column-flex-start-both {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.column-center-both {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
